<!DOCTYPE html>
<html class="x-admin-sm" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加订单</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8" name="viewport"/>
    <link rel="stylesheet" th:href="@{/css/xadmin.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <script charset="utf-8" th:src="@{/js/jquery.min.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/layui/layui.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/xadmin.js}" type="text/javascript"></script>
    <script charset="utf-8" th:src="@{/js/vue.js}" type="text/javascript"></script>
</head>
<body>
<div class="layui-fluid" id="vmAddOrder">
    <div class="layui-row">
        <form class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label" for="username">
                    <span class="x-red">*</span>收货人姓名
                </label>
                <div class="layui-input-block">
                    <div class="layui-input-inline layui-show-xs-block">
                        <input class="layui-input" id="username" lay-verify="required"
                               name="username" type="text">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="phone">
                    <span class="x-red">*</span>收货人电话
                </label>
                <div class="layui-input-block">
                    <div class="layui-input-inline layui-show-xs-block">
                        <input class="layui-input" id="phone" lay-verify="required"
                               name="phone" type="text">
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="startExpress">
                    <span class="x-red">*</span>寄件人地址（快递点）
                </label>
                <div class="layui-input-block">
                    <div class="layui-input-inline layui-show-xs-block">
                        <select id="startExpress" lay-verify="required" name="startExpress">
                            <option :value="express.id" v-for="express,index in expressList">{{express.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label" for="endExpress">
                    <span class="x-red">*</span>收件人地址（快递点）
                </label>
                <div class="layui-input-block">
                    <div class="layui-input-inline layui-show-xs-block">
                        <select id="endExpress" lay-verify="required" name="endExpress">
                            <option :value="express.id" v-for="express,index in expressList">{{express.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label"></label>
                <button class="layui-btn" lay-filter="add" lay-submit="">
                    确认添加
                </button>
            </div>
        </form>
    </div>
</div>
<script charset="UTF-8" th:inline="javascript" type="text/javascript">

    var sessionUser = [[${session.USER}]];

    vm = new Vue({
        el: "#vmAddOrder",
        data: {
            expressList: []
        },
        created: function () {
            var _this = this;
            $.ajax({
                url: "/user/list?roleId=2",
                dataType: "json",
                type: "get",
                success: function (result) {
                    if (result.code === 200) {
                        _this.expressList = result.data;
                    } else {
                        layer.alert("获取所有快递点信息失败！");
                    }
                }
            });
        }
    });

    layui.use(['form', 'layer'],
        function () {
            var form = layui.form,
                layer = layui.layer;

            //监听提交
            form.on('submit(add)',
                function (data) {

                    if (data.field.startExpress === data.field.endExpress) {
                        layer.alert("发货地址不能等于收货地址！");
                        return false;
                    }

                    data.field.userId = sessionUser.id;

                    var phone = data.field.phone;
                    if (!(/^1(3|4|5|6|7|8|9)\d{9}$/.test(phone))) {
                        layer.alert("手机号码有误，请重填");
                        return false;
                    }

                    data.field.arriveExpress = data.field.startExpress;

                    //发异步，把数据提交给java
                    $.ajax({
                        url: "/orderList/save",
                        data: JSON.stringify(data.field),
                        dataType: "json",
                        type: "post",
                        contentType: "application/json",
                        success: function (result) {
                            if (result.code === 200) {
                                layer.msg("增加成功", {icon: 6, time: 500},
                                    function () {
                                        //关闭当前frame
                                        xadmin.close();
                                        // 可以对父窗口进行刷新
                                        xadmin.father_reload();
                                    });
                            } else {
                                layer.alert(result.msg);
                            }
                        }
                    });

                    return false;
                });

        });
</script>
</body>
</html>
